@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: rgb(36, 62, 99);
  padding: 0;
  margin: 0;
}

section {
  padding: 0 32px;
}

h1 {
  font-size: 36px;
}

a {
  text-decoration: none;
  position: relative;
  display: inline;
}

p {
  font-size: 18px;
  line-height: 1.5;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
  color:rgb(100, 21, 255);
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}


.nav__logo {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  margin: 8px 0;
}

img {
  width: 100%;
}

.nav__logo--img {
  height: 50px;
  width: 50px;
}

.nav__logo--title {
  margin-left: 12px;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 1000;
  letter-spacing: 0.5px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.nav__link {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin: 0 24px;
  border-bottom: 2px solid transparent;
}

.login {
  margin-left: 48px;
}

.nav__link--login {
  display: flex;
}

.nav__link--primary {
  color: white;
  background-color: rgb(100, 21, 255);
  line-height: 1.5;
  width: auto;
  margin: 2px 0 0;
  padding: 10px 32px;
  border-radius: 9999px;
  border-width: medium;
  border-style: none;
  border-image: none;
  align-items: center;
}

.btn__menu {
  background-color: transparent;
  display: none;
  border-width: medium;
  border-style: none;
  border-color: currentColor;
  border-image: none;
}


/* MENU */

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 378px;
  background-color: white;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  margin: 24px 16px;
  padding: 32px;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  color: rgb(26, 32, 44);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 4px;
  margin: 8px 0;
}

/* HEADER */

header {
  position: relative;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  color:rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: gainsboro;
  border-image: none;
  padding: 18px 192px 18px 32px;
  transition: border-color 300ms;
}

.header__email--btn {
  width: 160px;
  height: calc(100% - 16px);
  background-color: rgb(100, 21, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  margin: 8px;
  border-radius: 500px;
  border-width: medium;
  border-style: none;
  border-color: currentcolor;
  border-image: none;
  transition: 300ms;
  z-index: 2;
}

.header__customers--title {
  margin-top: 80px;
  color: rgb(160, 175, 192);
  font-size: 12px;
  font-weight: 800;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
  max-width: 768px;
}